[Unit]
Description=Minecraft Backup Service

[Service]
Type=oneshot
ExecStart=/home/sksat/srv/mc.yohane.su/backup.sh

[Install]
WantedBy=default.target
