[Unit]
Description=Expose Minecraft using Cloudflare Tunnel
After=network.target

[Service]
TimeoutStartSec=0
Type=simple
ExecStart=/usr/local/bin/cloudflared access tcp --hostname mc-tunnel.sksat.net --url mc.yohane.su:25565
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
